<a href="https://colab.research.google.com/github/moduloous/Skill-lab-files/blob/main/space_mechanics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels

In [3]:
import pandas as pd
import numpy as np

# Load your dataset from GitHub
air = pd.read_csv("https://raw.githubusercontent.com/cmvigneswaranaero-gif/AC_PERFROMANCE_WITH_ML/refs/heads/main/New_Atm_Para.csv")

air.info()  # Check data details

# Display first few rows for inspection
air.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Altitude              86 non-null     int64
 1   Temperature           86 non-null     float64
 2   Pressure              86 non-null     float64
 3   Density               86 non-null     float64
 4   Mach_Number           86 non-null     float64
 5   Gravity               86 non-null     float64
 6   Kinematic_Viscosity   86 non-null     float64
 7   Relative_Humidity     86 non-null     float64
 8   Wind_Gust             86 non-null     float64
 9   Turbulence_Intensity  86 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 6.8 KB

,Altitude,Temperature,Pressure,Density,Mach_Number,Gravity,Kinematic_Viscosity,Relative_Humidity,Wind_Gust,Turbulence_Intensity
0,0,288.15,101325.00000,1.225226,0.734727,9.806650,146.045,67.451,9.89,6.373
1,100,287.50,100129.21880,1.213504,0.735557,9.806342,147.197,57.926,10.24,1.775
2,200,286.85,98944.89080,1.201868,0.736390,9.806034,148.361,69.715,19.85,4.056
3,300,286.20,97771.93188,1.190317,0.737225,9.805727,149.536,82.845,9.23,7.178
4,400,285.55,96610.25835,1.178852,0.738064,9.805419,150.724,56.488,11.21,5.129